@import "tailwindcss";

@theme {
  --color-main-100: #2a2a2a;
  --color-main-200: #425b0c;
  --color-main-300: #2e4604;
  --color-main-400: #c9a227;
  --color-main-500: #a67c1d;
  --color-main-600: #f5f5f5;
  --color-main-700: #cccccc;
  --color-main-800: #5dade2;
  --color-main-900: #78c982;

  --color-custom-white: #dbd7d6;
  --color-custom-black: #1a1a19;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 20px));
  }
}

@utility animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
}

@utility infinite-scroll-paused {
  animation-play-state: paused;
}
